PORT=10000
NODE_ENV=production
FAKE_DB_MODE=false
# MONGODB_URI=your-mongodb-uri
# JWT_SECRET=your_jwt_secret
# JWT_REFRESH_SECRET=your_jwt_refresh_secret
SUPABASE_URL=https://wmicteyitftiszwkqwkv.supabase.co
SUPABASE_SERVICE_KEY=your-supabase-service-key
SUPABASE_BUCKET=images
FRONTEND_URL=http://localhost:5173
FRONTEND_URL_PRODUCTION=https://jlx-store.netlify.app
FRONTEND_URL_DEV=http://localhost:5173
